---
import Sumador from "../componentes/suma"
import MapView from "../componentes/leafer"
import Main from "../componentes/src/main"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>E.D.II</title>
	</head>
	<body>
		<h1>LAB 2 Estructura de Datos II</h1>
		<Sumador client:load/>
		<section>
			<div id="root"></div>
			<Main client:only/>
			<!-- <MapView client:load/> -->
		</section>
	</body>
</html>
